page-home {
  .text-align-right {
    text-align: right;
  }

  .card-repo {
    padding: 10px;

    .item-md {
      padding-left: 0;
    }
  }

  .repo-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .image {
    display: inline;
    width: 28px;
    height: 100%;
  }

  .not-connected {
    text-align: center;
  }
}
